<h1>Editing </h1><br>
<form action="/dojos/#{@dojo.id}/students/#{@student.id}" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <label for="first_name">First Name: </label>
    <input type="text" name="student[first_name]" value="<%= @student.first_name %>"><br><br>
    <label for="last_name">Last Name: </label>
    <input type="text" name="student[last_name]" value="<%= @student.last_name %>"><br><br>
    <label for="email">Email: </label>
    <input type="text" name="student[email]" value="<%= @student.email%>"><br><br>
    <label for="dojo_id">Dojo: </label>
    <input type="text" name="dojo[dojo_id]" value="<%= @dojo.branch%>"><br><br>
    <input type="submit" value="Update">
</form><br><br>
<a href="/dojos">go back</a>